.footer-container {
  height: 120px;
  color: #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-weight: 700;
}