* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0%;
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
}

.content {
  width: 100%;
  min-height: 20px;
}

header {
  width: 100%;
  height: 120px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  position: fixed;
  background-color: rgba(2, 2, 2, 0.5);
  z-index: 1000;
}

main {
  width: 100%;
  min-height: 20px;
  margin: 0%;
  padding: 30px;
  padding-top: 130px;
}
.hero {
}
footer {
  width: 100%;
  min-height: 20px;
  margin: 0;
  padding: 0px;
  background-color: rgba(205, 124, 236, 0.377);
}
